.APsp_maincontainer>p{
    color:#647e7b;
    font-weight: bold;
    font-size: 20px;
}

.APsp_maincontainer{

    text-align: center;
    
}
.APsp_line{
    margin-top: -25px;
}
.APsp_containerItem{

}